# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# builds
android/app/build/
android/build/
ios/build/
*.apk
*.aab
*.ipa
*.ap_

# gradle
android/.gradle/
android/local.properties
android/captures/
.gradle/

# pods (iOS)
ios/Pods/
ios/Podfile.lock

# Xcode
ios/*.xcworkspace
ios/*.xcuserdata
ios/DerivedData/
*.xccheckout
*.xcuserstate

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db